@model Ninja
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div>
    <p>Name: @Model.Name</p>
    <form asp-action="Edit" method="post">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <label asp-for="AmountOfGold">Amount of Gold:</label>
            <input asp-for="AmountOfGold" class="form-control" />
            <span asp-validation-for="AmountOfGold" class="text-danger"></span>
        </div>
        <p> </p>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>