@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij het ninja programma.</h1>
    <p>Klik op een van de items in de navigatiebalk om te beginnen.</p>
</div>
